[Unit]
Description=Blaclist updater ver.3

[Service]
User=bird
Group=bird
ExecStart=/usr/local/bin/blacklist3
Restart=always

[Install]
WantedBy=multi-user.target
