[Unit]
Description=Blaclist updater ver.3

[Service]
User=bird
Group=bird
ExecStart=/opt/blacklist3/blacklist3 -daemon -config /opt/blacklist3/config.yaml
Restart=always

[Install]
WantedBy=multi-user.target
